# Chapter 1: Pandas Foundations

In [2]:
!git clone https://github.com/ravingdev/Pandas-Cookbook-Second-Edition.git

Cloning into 'Pandas-Cookbook-Second-Edition'...
remote: Enumerating objects: 194, done.
remote: Counting objects: 100% (194/194), done.
remote: Compressing objects: 100% (137/137), done.
remote: Total 194 (delta 56), reused 176 (delta 41), pack-reused 0
Receiving objects: 100% (194/194), 40.22 MiB | 11.95 MiB/s, done.
Resolving deltas: 100% (56/56), done.

In [3]:
!cp -r ./Pandas-Cookbook-Second-Edition/data ./data

In [1]:
import pandas as pd
import numpy as np

## Introduction

## Dissecting the anatomy of a DataFrame

In [4]:
pd.set_option('max_columns', 4, 'max_rows', 10)

In [5]:
movies = pd.read_csv('data/movie.csv')
movies.head()

   color      director_name  ...  aspect_ratio  movie_facebook_likes
0  Color      James Cameron  ...          1.78                 33000
1  Color     Gore Verbinski  ...          2.35                     0
2  Color         Sam Mendes  ...          2.35                 85000
3  Color  Christopher Nolan  ...          2.35                164000
4    NaN        Doug Walker  ...           NaN                     0

[5 rows x 28 columns]

In [6]:
movies

      color      director_name  ...  aspect_ratio  movie_facebook_likes
0     Color      James Cameron  ...          1.78                 33000
1     Color     Gore Verbinski  ...          2.35                     0
2     Color         Sam Mendes  ...          2.35                 85000
3     Color  Christopher Nolan  ...          2.35                164000
4       NaN        Doug Walker  ...           NaN                     0
...     ...                ...  ...           ...                   ...
4911  Color        Scott Smith  ...           NaN                    84
4912  Color                NaN  ...         16.00                 32000
4913  Color   Benjamin Roberds  ...           NaN                    16
4914  Color        Daniel Hsia  ...          2.35                   660
4915  Color           Jon Gunn  ...          1.85                   456

[4916 rows x 28 columns]

In [8]:
index = movies.index
#axis0
index

RangeIndex(start=0, stop=4916, step=1)

In [10]:
columns = movies.columns
#axis1
columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [11]:
data = movies.to_numpy()

In [12]:
data

array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
       ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
       ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
       ...,
       ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
       ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
       ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object)

In [14]:
movies.dtypes.value_counts()

float64    13
object     12
int64       3
dtype: int64

In [15]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   object
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float64
 3   duration                   4901 non-null   float64
 4   director_facebook_likes    4814 non-null   float64
 5   actor_3_facebook_likes     4893 non-null   float64
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float64
 8   gross                      4054 non-null   float64
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int64
 13  cast_total_facebook_likes  4916 non-null   int64
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float64
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float64
 19  language                   4904 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float64
 23  title_year                 4810 non-null   float64
 24  actor_2_facebook_likes     4903 non-null   float64
 25  imdb_score                 4916 non-null   float64
 26  aspect_ratio               4590 non-null   float64
 27  movie_facebook_likes       4916 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

### How it works...

## DataFrame Attributes

### How to do it... {#how-to-do-it-1}

In [ ]:
movies = pd.read_csv('data/movie.csv')
columns = movies.columns
index = movies.index
data = movies.values

In [ ]:
columns

In [ ]:
index

In [ ]:
data

In [ ]:
type(index)

In [ ]:
type(columns)

In [ ]:
type(data)

In [ ]:
issubclass(pd.RangeIndex, pd.Index)

### How it works...

### There's more

In [16]:
index.values

array([   0,    1,    2, ..., 4913, 4914, 4915])

In [17]:
columns.values

array(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes',
       'actor_2_name', 'actor_1_facebook_likes', 'gross', 'genres',
       'actor_1_name', 'movie_title', 'num_voted_users',
       'cast_total_facebook_likes', 'actor_3_name',
       'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link',
       'num_user_for_reviews', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score',
       'aspect_ratio', 'movie_facebook_likes'], dtype=object)

## Understanding data types

### How to do it... {#how-to-do-it-2}

In [ ]:
movies = pd.read_csv('data/movie.csv')

In [18]:
movies.dtypes

color                       object
director_name               object
num_critic_for_reviews     float64
duration                   float64
director_facebook_likes    float64
                            ...
title_year                 float64
actor_2_facebook_likes     float64
imdb_score                 float64
aspect_ratio               float64
movie_facebook_likes         int64
Length: 28, dtype: object

In [19]:
movies.get_dtype_counts()

AttributeError: ignored

In [ ]:
movies.info()

### How it works...

In [20]:
pd.Series(['Paul', np.nan, 'George']).dtype

dtype('O')

### There's more...

### See also

## Selecting a Column

### How to do it... {#how-to-do-it-3}

In [21]:
movies = pd.read_csv('data/movie.csv')
movies['director_name']

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [22]:
movies.director_name

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [31]:
movies.loc[:, 'director_name']

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [24]:
movies.iloc[:, 1]

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [32]:
movies.loc[0:3,'director_name']

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
Name: director_name, dtype: object

In [25]:
movies['director_name'].index

RangeIndex(start=0, stop=4916, step=1)

In [26]:
movies['director_name'].dtype

dtype('O')

In [27]:
movies['director_name'].size

4916

In [28]:
movies['director_name'].name

'director_name'

In [29]:
type(movies['director_name'])

pandas.core.series.Series

In [30]:
movies['director_name'].apply(type).unique()

array([<class 'str'>, <class 'float'>], dtype=object)

### How it works...

### There's more

### See also

## Calling Series Methods

In [33]:
s_attr_methods = set(dir(pd.Series))
len(s_attr_methods)

433

In [34]:
df_attr_methods = set(dir(pd.DataFrame))
len(df_attr_methods)

430

In [35]:
len(s_attr_methods & df_attr_methods)

377

### How to do it... {#how-to-do-it-4}

In [36]:
movies = pd.read_csv('data/movie.csv')
director = movies['director_name']
fb_likes = movies['actor_1_facebook_likes']

In [37]:
director.dtype

dtype('O')

In [38]:
fb_likes.dtype

dtype('float64')

In [39]:
director.head()

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4          Doug Walker
Name: director_name, dtype: object

In [43]:
director.sample(n=5, random_state=43)

991        Peter Webber
1898         Ken Kwapis
3389      Sacha Bennett
1148    Reginald Hudlin
4122        Danny Perez
Name: director_name, dtype: object

In [ ]:
fb_likes.head()

In [44]:
director.value_counts()

Steven Spielberg     26
Woody Allen          22
Clint Eastwood       20
Martin Scorsese      20
Ridley Scott         16
                     ..
Kevin Hooks           1
Ricki Stern           1
Nicholaus Goossen     1
Tay Garnett           1
Harmony Korine        1
Name: director_name, Length: 2397, dtype: int64

In [45]:
fb_likes.value_counts()

1000.0     436
11000.0    206
2000.0     189
3000.0     150
12000.0    131
          ...
362.0        1
216.0        1
859.0        1
225.0        1
334.0        1
Name: actor_1_facebook_likes, Length: 877, dtype: int64

In [46]:
director.size

4916

In [47]:
director.shape

(4916,)

In [48]:
len(director)

4916

In [52]:
len(director.unique())

2398

In [50]:
director.count()

4814

In [53]:
fb_likes.count()

4909

In [54]:
fb_likes.quantile()

982.0

In [55]:
fb_likes.min()

0.0

In [56]:
fb_likes.max()

640000.0

In [57]:
fb_likes.mean()

6494.488490527602

In [58]:
fb_likes.median()

982.0

In [59]:
fb_likes.std()

15106.986883848309

In [60]:
fb_likes.describe()

count      4909.000000
mean       6494.488491
std       15106.986884
min           0.000000
25%         607.000000
50%         982.000000
75%       11000.000000
max      640000.000000
Name: actor_1_facebook_likes, dtype: float64

In [ ]:
director.describe()

In [61]:
fb_likes.quantile(.25)

607.0

In [ ]:
fb_likes.quantile([.1, .2, .3, .4, .5, .6, .7, .8, .9])

In [62]:
director.isna()

0       False
1       False
2       False
3       False
4       False
        ...
4911    False
4912     True
4913    False
4914    False
4915    False
Name: director_name, Length: 4916, dtype: bool

In [64]:
fb_likes_filled = fb_likes.fillna(0)
fb_likes_filled.count()

4916

In [ ]:
fb_likes_dropped = fb_likes.dropna()
fb_likes_dropped.size

### How it works...

### There's more...

In [68]:
director.value_counts(normalize=True).describe()

count    2397.000000
mean        0.000417
std         0.000429
min         0.000208
25%         0.000208
50%         0.000208
75%         0.000415
max         0.005401
Name: director_name, dtype: float64

In [69]:
director.hasnans

True

In [70]:
director.notna()

0        True
1        True
2        True
3        True
4        True
        ...
4911     True
4912    False
4913     True
4914     True
4915     True
Name: director_name, Length: 4916, dtype: bool

### See also

## Series Operations

In [ ]:
5 + 9    # plus operator example. Adds 5 and 9

### How to do it... {#how-to-do-it-5}

In [ ]:
movies = pd.read_csv('data/movie.csv')
imdb_score = movies['imdb_score']
imdb_score

In [ ]:
imdb_score + 1

In [ ]:
imdb_score * 2.5

In [ ]:
imdb_score // 7

In [ ]:
imdb_score > 7

In [ ]:
director = movies['director_name']
director == 'James Cameron'

### How it works...

### There's more...

In [ ]:
imdb_score.add(1)   # imdb_score + 1

In [ ]:
imdb_score.gt(7)   # imdb_score > 7

### See also

## Chaining Series Methods

### How to do it... {#how-to-do-it-6}

In [ ]:
movies = pd.read_csv('data/movie.csv')
fb_likes = movies['actor_1_facebook_likes']
director = movies['director_name']

In [ ]:
director.value_counts().head(3)

In [ ]:
fb_likes.isna().sum()

In [71]:
fb_likes.dtype

dtype('float64')

In [72]:
(fb_likes.fillna(0)
         .astype(int)
)

0        1000
1       40000
2       11000
3       27000
4         131
        ...
4911      637
4912      841
4913        0
4914      946
4915       86
Name: actor_1_facebook_likes, Length: 4916, dtype: int64

### How it works...

### There's more...

In [ ]:
(fb_likes.fillna(0)
         #.astype(int)
         #.head()
)

In [ ]:
(fb_likes.fillna(0)
         .astype(int)
         #.head()
)

In [73]:
fb_likes.isna().mean()

0.0014239218877135883

In [ ]:
fb_likes.fillna(0) \
        .astype(int) \
        .head()

In [74]:
def debug_df(df):
    print("BEFORE")
    print(df)
    print("AFTER")
    return df

In [75]:
(fb_likes.fillna(0)
         .pipe(debug_df)
         .astype(int) 
         .head()
)

BEFORE
0        1000.0
1       40000.0
2       11000.0
3       27000.0
4         131.0
         ...
4911      637.0
4912      841.0
4913        0.0
4914      946.0
4915       86.0
Name: actor_1_facebook_likes, Length: 4916, dtype: float64
AFTER

0     1000
1    40000
2    11000
3    27000
4      131
Name: actor_1_facebook_likes, dtype: int64

In [77]:
intermediate = None
def get_intermediate(df):
    global intermediate
    intermediate = df
    return df

In [78]:
res = (fb_likes.fillna(0)
         .pipe(get_intermediate)
         .astype(int) 
         .head()
)

In [79]:
intermediate

0        1000.0
1       40000.0
2       11000.0
3       27000.0
4         131.0
         ...
4911      637.0
4912      841.0
4913        0.0
4914      946.0
4915       86.0
Name: actor_1_facebook_likes, Length: 4916, dtype: float64

## Renaming Column Names

### How to do it...

In [ ]:
movies = pd.read_csv('data/movie.csv')

In [ ]:
col_map = {'director_name':'Director Name', 
             'num_critic_for_reviews': 'Critical Reviews'}

In [ ]:
movies.rename(columns=col_map).head()

### How it works... {#how-it-works-8}

### There's more {#theres-more-7}

In [ ]:
idx_map = {'Avatar':'Ratava', 'Spectre': 'Ertceps',
  "Pirates of the Caribbean: At World's End": 'POC'}
col_map = {'aspect_ratio': 'aspect',
  "movie_facebook_likes": 'fblikes'}
(movies
   .set_index('movie_title')
   .rename(index=idx_map, columns=col_map)
   .head(3)
)

In [ ]:
movies = pd.read_csv('data/movie.csv', index_col='movie_title')
ids = movies.index.tolist()
columns = movies.columns.tolist()

# rename the row and column labels with list assignments

In [ ]:
ids[0] = 'Ratava'
ids[1] = 'POC'
ids[2] = 'Ertceps'
columns[1] = 'director'
columns[-2] = 'aspect'
columns[-1] = 'fblikes'
movies.index = ids
movies.columns = columns

In [ ]:
movies.head(3)

In [ ]:
def to_clean(val):
    return val.strip().lower().replace(' ', '_')

In [ ]:
movies.rename(columns=to_clean).head(3)

In [ ]:
cols = [col.strip().lower().replace(' ', '_')
        for col in movies.columns]
movies.columns = cols
movies.head(3)

In [82]:
cols = [col.strip().lower().replace(' ', '_')
        for col in movies.columns]
cols

['color',
 'director_name',
 'num_critic_for_reviews',
 'duration',
 'director_facebook_likes',
 'actor_3_facebook_likes',
 'actor_2_name',
 'actor_1_facebook_likes',
 'gross',
 'genres',
 'actor_1_name',
 'movie_title',
 'num_voted_users',
 'cast_total_facebook_likes',
 'actor_3_name',
 'facenumber_in_poster',
 'plot_keywords',
 'movie_imdb_link',
 'num_user_for_reviews',
 'language',
 'country',
 'content_rating',
 'budget',
 'title_year',
 'actor_2_facebook_likes',
 'imdb_score',
 'aspect_ratio',
 'movie_facebook_likes']

## Creating and Deleting columns

### How to do it... {#how-to-do-it-9}

In [ ]:
movies = pd.read_csv('data/movie.csv')
movies['has_seen'] = 0

In [ ]:
idx_map = {'Avatar':'Ratava', 'Spectre': 'Ertceps',
  "Pirates of the Caribbean: At World's End": 'POC'}
col_map = {'aspect_ratio': 'aspect',
  "movie_facebook_likes": 'fblikes'}
(movies
   .rename(index=idx_map, columns=col_map)
   .assign(has_seen=0)
)

In [91]:
total = (movies['actor_1_facebook_likes'] +
         movies['actor_2_facebook_likes'] + 
         movies['actor_3_facebook_likes'] + 
         movies['director_facebook_likes'])

In [92]:
total.head(5)

0     2791.0
1    46563.0
2    11554.0
3    95000.0
4        NaN
dtype: float64

In [85]:
cols = ['actor_1_facebook_likes','actor_2_facebook_likes',
    'actor_3_facebook_likes','director_facebook_likes']
sum_col = movies[cols].sum(axis='columns')
sum_col.head(5)

0     2791.0
1    46563.0
2    11554.0
3    95000.0
4      274.0
dtype: float64

In [86]:
movies.assign(total_likes=sum_col).head(5)

   color      director_name  ...  movie_facebook_likes  total_likes
0  Color      James Cameron  ...                 33000       2791.0
1  Color     Gore Verbinski  ...                     0      46563.0
2  Color         Sam Mendes  ...                 85000      11554.0
3  Color  Christopher Nolan  ...                164000      95000.0
4    NaN        Doug Walker  ...                     0        274.0

[5 rows x 29 columns]

In [87]:
def sum_likes(df):
   return df[[c for c in df.columns
              if 'like' in c]].sum(axis=1)

In [88]:
movies.assign(total_likes=sum_likes).head(5)

   color      director_name  ...  movie_facebook_likes  total_likes
0  Color      James Cameron  ...                 33000      40625.0
1  Color     Gore Verbinski  ...                     0      94913.0
2  Color         Sam Mendes  ...                 85000     108254.0
3  Color  Christopher Nolan  ...                164000     365759.0
4    NaN        Doug Walker  ...                     0        417.0

[5 rows x 29 columns]

In [89]:
(movies
   .assign(total_likes=sum_col)
   ['total_likes']
   .isna()
   .sum()
)

0

In [93]:
(movies
   .assign(total_likes=total)
   ['total_likes']
   .isna()
   .sum()
)

122

In [ ]:
(movies
   .assign(total_likes=total.fillna(0))
   ['total_likes']
   .isna()
   .sum()
)

In [ ]:
def cast_like_gt_actor_director(df):
    return df['cast_total_facebook_likes'] >= \
           df['total_likes']

In [ ]:
df2 = (movies
   .assign(total_likes=total,
           is_cast_likes_more = cast_like_gt_actor_director)
)

In [ ]:
df2['is_cast_likes_more'].all()

In [ ]:
df2 = df2.drop(columns='total_likes')

In [ ]:
actor_sum = (movies
   [[c for c in movies.columns if 'actor_' in c and '_likes' in c]]
   .sum(axis='columns')
)

In [ ]:
actor_sum.head(5)

In [ ]:
movies['cast_total_facebook_likes'] >= actor_sum

In [ ]:
movies['cast_total_facebook_likes'].ge(actor_sum)

In [ ]:
movies['cast_total_facebook_likes'].ge(actor_sum).all()

In [ ]:
pct_like = (actor_sum
    .div(movies['cast_total_facebook_likes'])
)

In [ ]:
pct_like.describe()

In [ ]:
pd.Series(pct_like.values,
    index=movies['movie_title'].values).head()

### How it works... {#how-it-works-9}

### There's more... {#theres-more-8}

In [ ]:
profit_index = movies.columns.get_loc('gross') + 1
profit_index

In [ ]:
movies.insert(loc=profit_index,
              column='profit',
              value=movies['gross'] - movies['budget'])

In [ ]:
del movies['director_name']

In [94]:
def getGrossMargin(df):
  return df.gross df.budget

In [100]:
movies=movies.assign(profit=getGrossMargin)

In [101]:
movies[['movie_title','gross','budget','profit']]

,movie_title,gross,budget,profit
0,Avatar,760505847.0,237000000.0,523505847.0
1,Pirates of the Caribbean: At World's End,309404152.0,300000000.0,9404152.0
2,Spectre,200074175.0,245000000.0,-44925825.0
3,The Dark Knight Rises,448130642.0,250000000.0,198130642.0
4,Star Wars: Episode VII - The Force Awakens,NaN,NaN,NaN
...,...,...,...,...
4911,Signed Sealed Delivered,NaN,NaN,NaN
4912,The Following,NaN,NaN,NaN
4913,A Plague So Pleasant,NaN,1400.0,NaN
4914,Shanghai Calling,10443.0,NaN,NaN
4915,My Date with Drew,85222.0,1100.0,84122.0

### See also